.category__list {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 1rem;
  scroll-behavior: smooth;
  scrollbar-width: none;
  padding: 0.5rem;
  padding-left: 2rem;
  scroll-padding-left: 2rem;
}

.category__list::-webkit-scrollbar {
  display: none;
}

.category__title {
  font-size: 1.6rem;
  color: var(--color-text);
  font-weight: 700;
  margin-bottom: 0;
  background: transparent;
  padding: 1em 2rem 0;
}

.category__empty {
  align-self: auto;
  font-size: 1rem;
  color: var(--color-text);
}

.card {
  flex: 0 0 auto;
  width: 200px;
  scroll-snap-align: start;
}
