.category__list {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 1rem;
  scroll-behavior: smooth;
  scrollbar-width: none;
  padding: 0.5rem;
  padding-left: 2rem;
  scroll-padding-left: 2rem;
}

.category__list::-webkit-scrollbar {
  display: none;
}

.category__title {
  font-size: 1.6rem;
  color: #ffffff;
  font-weight: 700;
  margin-bottom: 0;
  padding: 1em 2rem;
}

.card {
  flex: 0 0 auto;
  width: 200px;
  scroll-snap-align: start;
  margin-bottom: 0.5rem;
}
