.movie {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 2rem;
  padding-top: var(--padding-searchbar);
  margin: 2em;
}

.movie__poster img {
  width: 300px;
  height: auto;
  margin: 3em;
  border-radius: 20px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.6);
}

.movie__info {
  padding-right: 4em;
}

.movie__title {
  font-size: 2rem;
  color: white;
  margin-top: 1em;
  margin-bottom: 0.5rem;
}

.movie__year,
.movie__director {
  font-size: 1.2rem;
  color: #aaa;
  margin-bottom: 2rem;
}

.movie__plot {
  font-size: 1rem;
  color: #ddd;
  line-height: 1.5;
  margin-top: 1rem;
}

.movie__action {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-top: 1.5rem;
}

.movie__button,
.movie__button--save {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: white;
  padding: 0.6rem 1.2rem;
  border-radius: 8px;
  cursor: pointer;
  text-decoration: none;
  font-size: 1.5rem;
  transition: background-color 0.4s ease, transform 0.4s ease;
}

.movie__button:hover,
.movie__button--save:hover {
    color: rgb(129, 215, 251);
    transform: scale(1.05);
}

.movie__button-text {
  font-size: 1rem;
}