.movie {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 2rem;
  padding: var(--padding-searchbar);
  margin: 2em;
}

.movie__poster img {
  width: 300px;
  height: auto;
  margin: 3em;
  border-radius: 20px;
  box-shadow: var(--color-glow-static);
}

.movie__info {
  padding-right: 4em;
}

.movie__title {
  font-size: 2rem;
  color: var(--color-text);
  margin-top: 1em;
  margin-bottom: 0.5rem;
}

.movie__year,
.movie__director {
  font-size: 1.2rem;
  color: var(--color-subtext);
  margin-bottom: 2rem;
}

.movie__plot {
  font-size: 1rem;
  color: var(--color-text);
  line-height: 1.5;
  margin-top: 1rem;
}

.movie__action {
  display: flex;
  gap: 3rem;
  margin-top: 1rem;
}

.movie__button {
  display: grid;
  color: var(--color-icon);
  border-radius: 8px;
  cursor: pointer;
  text-decoration: none;
  font-size: 1.5rem;
}

.movie__button-icon{
    justify-self: center;
    transition: filter var(--transform-ease), transform var(--transform-ease);
}

.movie__button-icon:hover {
    color: var(--color-icon-hover);
    filter: var(--color-glow-icon-shadow);
    transform: var(--transform-scale);
}

.movie__button-text {
    font-size: 1rem;
}