.save__button,
.state__button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    background-color: transparent;
    color: var(--color-icon);
    font-size: 1.5rem;
    transition: filter var(--transform-ease), transform var(--transform-ease);
}

.save__button,
.state__button:hover {
    color: var(--color-icon-hover);
    filter: var(--color-glow-icon-shadow);
    transform: var(--transform-scale);
}