.search-bar {
  position: relative;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: stretch; 
}

.search-bar__input {
  width: 100%;
  padding: 0.75rem 1.2rem;
  font-size: 1.05rem;
  border-radius: 25px;
  border: none;
  background-color: var(--color-surface);
  color: var(--color-text);
  box-sizing: border-box;
}

.search-bar__input::placeholder {
  color: var(--color-text);
}

.search-bar__results {
  position: absolute;
  top: calc(100% + 0.4rem);
  left: 0;
  right: 0;
  width: 100%;
  background-color:var(--color-bg);
  border-radius: 25px;
  max-height: 300px;
  overflow-y: auto;
  z-index: 1000;
  scrollbar-width: none;
  box-sizing: border-box;
}

.search-bar__results:hover {
  box-shadow: var(--color-glow-box-shadow);
}

.search-bar__results::-webkit-scrollbar {
  display: none;
}

.results-item {
  display: block;
  padding: 0.8rem 1.2rem;
  font-size: 1.05rem;
  color: var(--color-text);
  text-decoration: none;
  transition: background-color var(--transform-ease);
  box-sizing: border-box;
}

.results-item:hover {
  background-color: var(--color-icon);
  color: var(--color-surface);
}

.results-title {
  margin: 0;
}
