:root {
  --color-bg: #1b2745;
  --color-text: #e0e0e0;
  --color-accent: #f5c518;
  --color-highlight: #76b5f5;
  --color-glow: rgba(245, 197, 24, 0.6); /* color para efectos de brillo */
  --padding-searchbar: 70px;
}

.App {
  background-color: var(--color-bg);
}

html, body {
  height: 100%;
  background-color: var(--color-bg);
}